/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/

.mobileFooter{
    display: none;
}
.mobileFooter .innerWrap{
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    width: calc(100% - 30px);
    margin-left: 15px;
    border-radius: 8px;
    gap: 18px;
    -webkit-box-shadow: 0px -6px 8px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px -6px 8px 0px rgba(0,0,0,0.17);
    box-shadow: 0px -6px 8px 0px rgba(0,0,0,0.17);
    background: #25292c; 
    background: -moz-linear-gradient(top,  #25292c 0%, #242629 100%);
    background: -webkit-linear-gradient(top,  #25292c 0%,#242629 100%); 
    background: linear-gradient(to bottom,  #25292c 0%,#242629 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25292c', endColorstr='#242629',GradientType=0 );
    padding:10px 15px;
    /* bottom: 10px; */
    bottom: 0px;
    align-items: center;
    border-top: 2px solid #34383b;
    z-index: 9999;
}
.home-page.directory .header.entry-header{
    display: none;
} 

.mobileFooter .innerWrap .item a{
    padding: 10px 0;
    display: block;
}
.mobileFooter .innerWrap .item a img{
    margin-bottom: 4px;
}
.mobileFooter .innerWrap .item a h5{
    margin-bottom: 0;
    color: #979EA3;
}
.mobileFooter .innerWrap .item a.logoTh{
    width: 56px;
    height: 56px;
    padding: 0;
    border-radius: 50%;
    background: #1DA1F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobileFooter .innerWrap .item a.logoTh img{
    margin-bottom: 0;
}
.mobile-header-icon .innerWrap{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px 30px;
    gap: 20px;
    border-bottom: 1px solid #24272C;
    display: none;
}
.appWrapper .tabContent{
    display: none;
}
.appWrapper .tabContent.content-show{
    display: block;
}
.tabContentWrap{
    margin-top: 25px;
    /* height: calc(100vh - 255px);
    overflow: auto;
    padding-right: 30px;
    padding-left: 30px; */
}
.admin-bar .tabContentWrap{
    /* height: calc(100vh - 301px); */
}
.page-template-home-template-php #content, 
.page-template-home-template-php #content > .container, 
.page-template-home-template-php #content > .container .appWrapper{
    padding-right: 0;
    padding-left: 0;
}
.appWrapper .mobile-header-icon .innerWrap .item a:not(.tab-show) img{
    filter: brightness(0) invert(1);
}
.appWrapper_allpages .mobile-header-icon .innerWrap .item a:not(.tab-show) img{
    filter: brightness(0) invert(1);
}
/* body.buddypress .appWrapper_allpages .mobile-header-icon .innerWrap #shop_cart a img{
    filter: brightness(1) invert(0);
} */


.limitAlert .innerWrap{
    padding: 25px 15px;
    display: flex;
    border-bottom: 1px solid #4D4D4D;
}
.limitAlert .innerWrap .img{
    width: 46px;
    height: 46px;
    flex: 0 0 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #42494c;
    border-radius: 50%;
}
.limitAlert .innerWrap .cont{
    padding: 0 15px;
    flex: 0 0 calc(100% - 46px);
}
.limitAlert .innerWrap .cont h3{
    font-size: 19px;
    margin: 0;
}
.myStats .itemWrap{
    display: flex;
    flex-wrap: wrap;
}
.myStats .itemWrap .item{
    flex: 0 0 33.33%;
    width: 33.33%;
    max-width: 33.33%;
    border-right: 1px solid #4D4D4D;
    border-top: 1px solid #4D4D4D;
    padding: 15px;
    text-align: center;
}
.myStats .itemWrap .item:nth-child(3n){
    border-right-color: transparent;
}
.myStats .itemWrap .item:nth-child(1),
.myStats .itemWrap .item:nth-child(2),
.myStats .itemWrap .item:nth-child(3){
    border-top-color: transparent;
}
.myStats .itemWrap .item .graphImg{
    margin-bottom: 6px;
}
.myStats .itemWrap .item .graphImg img{
    max-width: 73px;
}
.myStats .itemWrap .item .title h4{
    font-size: 19px;
    font-weight: bold;
    color: #AEBABF;
    margin-bottom: 0;
}
.myStats{
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 15px;
}
.limitAlert .innerWrap .cont p{
    margin-bottom: 0;
}

.mobileFooter .moreWrap .moreDrop{
    width: 200px;
    position: absolute;
    bottom: 100%;
    right: -10px;
    background: #000;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    display: none; 
}
.mobileFooter .moreWrap .moreDrop.show{
    display: block;
}
.mobileFooter .moreWrap .moreDrop ul{
    list-style: none;
    margin: 0;
}
.mobileFooter .moreWrap .moreDrop ul li:not(:last-child) {
    border-bottom: 1px solid #34383b;
}
.mobileFooter .moreWrap .moreDrop ul li a{
    text-align: left;
    padding-left: 15px;
    padding-right: 40px;
    position: relative;
    color: rgb(171, 163, 150);
}
.mobileFooter .moreWrap .moreDrop ul li a i{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0px, -50%);
    font-size: 115%;
}

html:not(.wp-dark-mode-active) .appWrapper .mobile-header-icon .innerWrap .item a:not(.tab-show) img{
    filter: brightness(0%);
}
html:not(.wp-dark-mode-active) .appWrapper_allpages .mobile-header-icon .innerWrap .item a:not(.tab-show) img{
    filter: brightness(0%);
}
html:not(.wp-dark-mode-active) .mobileFooter .innerWrap{
    background: #fff;
    border: 1px solid #F4F4F4;
}
html:not(.wp-dark-mode-active) .mobileFooter .moreWrap .moreDrop{
    background: #ffffff;
}
html:not(.wp-dark-mode-active) .mobileFooter .moreWrap .moreDrop ul li:not(:last-child){
    border-color: #f0f0f0;
}
html:not(.wp-dark-mode-active) .limitAlert .innerWrap .img{
    background: #E6EDF2;
}
html:not(.wp-dark-mode-active) .myStats .itemWrap .item .graphImg img{
    visibility: hidden;
}
html:not(.wp-dark-mode-active) .myStats .itemWrap .item .graphImg{
    background-image: url('/wp-content/uploads/2022/11/graph-light.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
html:not(.wp-dark-mode-active) .mobileFooter .innerWrap .item a:not(.logoTh) img{
    filter: brightness(0%);
}
html:not(.wp-dark-mode-active) .mobileFooter .innerWrap .item a.logoTh{
    color: #fff;
}
html:not(.wp-dark-mode-active) .mobileFooter .moreWrap .moreDrop ul li a,
.myStats .itemWrap .item .title h4,
html:not(.wp-dark-mode-active) .mobileFooter .innerWrap .item a h5{
    color: #000;
}

.home-page .entry-header{
    display: none;
}
.mobileFooter .innerWrap .item a.logoTh{
    position: relative;
    font-size: 25px;
}
.mobileFooter .innerWrap .item a.logoTh span.count{
    position: absolute;
    background: transparent;
    box-shadow: none;
    top: 0%;
    right: 5%;
    width: 24px;
}
.mobileFooter .innerWrap .item a.logoTh img{
    flex: 0 0 35px;
    max-width: 35px;
    width: 35px;
}
.mobileFooter .innerWrap .item a.logoTh > i{
    margin-left: 0 !important;
}

html:not(.wp-dark-mode-active) .mobileFooter .innerWrap .item a.logoTh > i{
    color:#fff;
} 


@media only screen and (max-width: 767px){
    .mobileFooter{ 
        display: block;
    }   
    .mobile-header-icon .innerWrap{ 
        display: flex;
    }

    #page.site{
        padding-bottom: 115px;
    }

    .wp-dark-mode-side-toggle-wrap.floating, 
    .wp-dark-mode-switcher.floating {
        bottom: 116px;
    }
    .myStats .itemWrap .item .title h4{
        font-size: 77%;
    }
    .notification-wrap.header-cart-link-wrap.cart-wrap.menu-item-has-children.test {
        display: none;
    }
}
@media only screen and (max-width: 390px){
    .mobileFooter .innerWrap .item a img{
        max-width: 22px;
    }
    .mobileFooter .innerWrap .item a h5{
        font-size: 90%;
    }
}
@media only screen and (max-width: 370px){
    .mobileFooter .innerWrap .item a img{
        max-width: 18px;
    }
    .mobileFooter .innerWrap .item a h5{
        font-size: 80%;
    }
    .mobileFooter .innerWrap{
        gap: 10px;
    }
}
.mobile_menu_item .mobile_icon_menu{
    display: none;
}

.mobile_menu_item .mobile_icon_menu{
    display: none;
}

.mobile_menu_item .mobile_icon_menu.menu-show{
    display: block;
}

.bb-icon-shopping-cart.customicon.wp-dark-mode-ignore{
    font-size: 34px !important;
    color: #ffff !important;
    margin-left: 10px !important;
}
span.customcount.count.wp-dark-mode-ignore{
    background-color: unset !important;
    position: relative;
    top: -15px;
    left: -20px;
    padding: 0px !important;
}

body.activity.buddypress header.entry-header{
    display: none;
}

/* body.woocommerce-page .appWrapper_allpages .mobile-header-icon .innerWrap .item#shop_cart a img{
    filter: brightness(1) invert(0);
}
body.buddypress .appWrapper_allpages .mobile-header-icon .innerWrap .item#myludis_social a img{
    filter: brightness(1) invert(0);
}

body.buddypress .appWrapper_allpages .mobile-header-icon .innerWrap .item#myludis_lab a img{
    filter: brightness(0) invert(1);
} */

/*.appWrapper .mobile-header-icon .innerWrap .item a:not(.tab-show) img*/

body.woocommerce-page .mobile_menu_item .mobile_icon_menu.mobile-shop-menu{
    display: block !important;
}
body.woocommerce-page .mobile_menu_item .mobile_icon_menu.mobile-social-menu{
    display:none;
}
body.woocommerce-page .mobile_menu_item .mobile_icon_menu.mobile-lab-menu{
    display:none;
}

body.my-account .mobile_menu_item .mobile_icon_menu.mobile-social-menu{
    display: block !important;
}
.appWrapper_allpages{
    padding-bottom: 20px;
}
div#myludis-drak {
    display: none;
}
/* ks 26Dec start  */
@media only screen and (max-width:991px){
    .site-header .header-cart-link-wrap,    
    .site-header .user-wrap-container .user-name {
        display: none;
    }
    .site-title img.bb-mobile-logo{
        max-width: 34px;
    }
    html.wp-dark-mode-active .bb-mobile-header .bb-left-panel-mobile .bb-icon-bars::before{
        opacity: 0;
    }
    html.wp-dark-mode-active .bb-mobile-header .bb-left-panel-mobile .bb-icon-bars{
        background-image: url('../images/hamburger-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 19px;
    }

    .bb-mobile-header .bb-left-panel-mobile .bb-icon-bars::before{
        opacity: 0;
    }
    .bb-mobile-header .bb-left-panel-mobile .bb-icon-bars{
        background-image: url('../images/hamburger-icon-drak.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 19px;
    }
    .bb-template-v2 .header-aside .user-wrap.user-wrap-container{
        margin-left: 0px;
    }
    html.wp-dark-mode-active .bb-mobile-header .header-aside span{
        background: #3C3C3C;
    }
    header#masthead::after,
    .mobile-header-icon .innerWrap::after {
        content: "";
        position: absolute;
        width: calc(100% - 36px);
        border-bottom: 1px solid #B2B2B2;
        margin: 0 auto;
        right: auto;
        left: 18px;
        bottom: 0;
    }
    .home-page #primary.content-area{
        padding-top: 0px;
    }
    .home-page #content,
    .home-page #content > .container{
        padding-right: 0;
        padding-left: 0;
    }
    .mobile-header-icon .innerWrap{
        border-color: transparent;
        position: relative;
    }
    #buddypress .activity-lists.bp-list .activity-item, 
    #buddypress .activity-list.bp-list .activity-item, 
    #bbpress-forums .activity-list.bp-list .activity-item{
        border-color: transparent;
        padding-right: 0;
        padding-left: 0;
    }
    html.wp-dark-mode-active #buddypress .activity-lists.bp-list .activity-item, html.wp-dark-mode-active #buddypress .activity-list.bp-list .activity-item, html.wp-dark-mode-active #bbpress-forums .activity-list.bp-list .activity-item{
        background: #262726;
    }
    .activity-list .bp-activity-head,
    .activity-list .activity-item .activity-content.media-activity-wrap .activity-inner > p,
    .activity-list .activity-item .bp-generic-meta.action,
    .activity-list .activity-item .activity-inner p,
    .activity-list .activity-item .activity-content .activity-state,
    .buddypress-wrap .activity-comments{
        padding-right: 10px;
        padding-left: 10px;
    }
    .bb-media-length-1 .bb-activity-media-elem .entry-img{
        border-radius: 0;
    }
    html.wp-dark-mode-active .activity-list .activity-item .activity-header a,   
    html.wp-dark-mode-active .buddypress-wrap .activity-comments .acomment-meta .author-name{
        color: #FFFFFF;
    }
    html.wp-dark-mode-active .activity-list .activity-item .activity-header p,
    html.wp-dark-mode-active body #buddypress .bp-list.bp-list .bp-generic-meta .generic-button > a,
    html.wp-dark-mode-active .bb-document-privacy-wrap .privacy, .bb-media-privacy-wrap .privacy::after,
    html.wp-dark-mode-active .bb-document-privacy-wrap .privacy, .bb-media-privacy-wrap .privacy::after{
        color: #f1f1f1; 
    }
    body #buddypress .bp-list.bp-list .bp-generic-meta .generic-button > a::before{
        color: #1DA1F2;
    }
    #buddypress .activity-list.bp-list .activity-item{
        background: transparent !important;
        border: 0;
        border-radius: 0;
    }
    .bb-template-v2 #buddypress .activity-list.bp-list .activity-item .activity-comments > ul{
        border-color: transparent;
    }
    .buddypress-wrap .activity-comments > ul{
        background: transparent;
    }
    .activity-list .activity-item div.item-avatar a{
        border: 2px solid #fff;
        border-radius: 50%;
    }
    .appWrapper .tabContent.content-show .actvity-head-bar{
        display: none;
    }
    #bp-nouveau-activity-form:not(.modal-popup){
        display: none !important;
    }
    .appWrapper .tabContent.shop-section.content-show{
        padding: 0px 1%;
    }
    li.hideshow a.more-button{
        display: none !important;
    }
    .wp-dark-mode-switcher.wp-dark-mode-ignore.style-1.floating.left_bottom {
        display: none;
    }
    /* .wp-dark-mode-switcher.wp-dark-mode-ignore.style-1 {
        display: none;
    } */
    div#myludis-drak {
        display: block !important;
        position: initial;
    }
    .mobileFooter .innerWrap .item a.logoTh img.wp-dark-mode-ignore{
        /* padding-bottom: 18px; */
    }
    .mobileFooter .innerWrap .item a.logoTh .plus-icon.wp-dark-mode-ignore{
        line-height: 0.8;
        /* position: absolute; */
        bottom: 0;
        color: #fff;
    }
    #whats-new-form .whats-new-form-footer + #activity-form-submit-wrapper,
    #whats-new-form .whats-new-form-footer ~ .whats-new-form-footer,
    #whats-new-form .whats-new-form-footer #whats-new-toolbar + #whats-new-toolbar{
        display: none;
    }
    .mobileFooter .innerWrap .item a.logoTh img {
        flex: 0 0 25px;
        max-width: 25px;
        width: 25px;
    }
    .mobileFooter .innerWrap .item a.logoTh .plus-icon.wp-dark-mode-ignore{
        font-size: 18px;
        bottom: 9px;
    }
    .flex.actvity-head-bar {
        display: none;
    }
    .woocommerce ul.products li.product a img{
        padding:3px !important;
    }
    
}
div#bp-nouveau-activity-form {
    display: none;
}
/* ks 26Dec end  */

/* 
Activity Box hide 
*/
/* body.buddypress form#whats-new-form{
    display: none !important;
} */

/* .whats-new-scroll-view {
    display: none;
} */

html.wp-dark-mode-active .mobileFooter .social-menu .item a:not(.active) img,
html.wp-dark-mode-active .mobileFooter #shop_menus .item a:not(.active) img,
html.wp-dark-mode-active .mobileFooter #labmyludis-menu .item a:not(.active) img{
    filter: brightness(0) invert(1);
}



/*
Light theme
*/
html:not(.wp-dark-mode-active) .mobileFooter .social-menu .item a:not(.active) img,
html:not(.wp-dark-mode-active) .mobileFooter #shop_menus .item a:not(.active) img{
    filter: brightness(0);
}

a.current_page_item{
    color:#1DA1F2 !important;
}

